*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Custom Properties*/
:root {
    --ff-primary: "Source Sans Pro", sans-seriff;
    --ff-secondary: "Source Sans Pro", monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-dark: #303030;
    --clr-light: #fff;
    --clr-accent: #8a9a5b;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.15rem;
    }
}

/*General Styles*/

body {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
.banner {
    background-color: var(--clr-accent);
    overflow: hidden;
}

.banner a {
    float: right;
    color: var(--clr-light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
}

.banner a:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

section{
    padding: 1.8em 2em;
}

img {
    display: block;
    max-width: 100%
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

::-webkit-scrollbar{
    width: 9px;
    overflow-y: overlay;
}

::-webkit-scrollbar-thumb{
    background: var(--clr-accent);
}

::-webkit-scrollbar-track{
    background: var(--clr-dark);
}

/*Buttons*/

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1)
}

/*Typography*/

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    margin-bottom: 0.25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--experience {
    background: var(--clr-accent);
    padding: 0.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--projects {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/*Header*/

nav {
    display: none;
}

/*Intro Section*/

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/*About Me*/
.about-me{
    background-color: var(--clr-dark);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}

.section__title--aboutme {
    color: var(--clr-accent);
    position: relative;
}

.section__title--aboutme::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.25;
}

.aboutme {
    margin-bottom: 2em;
}
.about {
    max-width: 400px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .aboutme {
        display: flex;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }

    .about + .about {
        justify-content: space-between
    }
}
.vid {
    display: block;
    margin: 0 auto;
}

/*Footer*/

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 1em 0;
    font-size: var(--fs-h2);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: 0.7;
}

.footer__link:hover{
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 0.5em;
}

.social-list__link {
    padding: 0.5em;
}


.my-projects {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}


.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.portfolio__item {
    background: #111;
    overflow: hidden;
    position: relative;
}

.portfolio__text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* add a transparent black background */
    color: white; /* set the text color to white */
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio__item:hover .portfolio__text{
    display: none;
    opacity: 0;
    transition: opacity 0.5s;

}


.portfolio__img {
    opacity: 0.25;
    width: 100%;
    height: 100%;
    transition: 
        transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}
.blackbox__img {
    width: 100%;
    height: 100%;
    transition: 
        transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}
/*
.portfolio__text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/
/*.portfolio__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.portfolio__item:focus {
    position: relative;
    z-index: 2;
}*/

/*
.portfolio__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  */

/*
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img{
    transform: scale(1.05);
    opacity: 1;
}
.portfolio__text:hover,
.portfolio__item:focus .portfolio__text {
    opacity: 0;
}*/

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img{
    transform: scale(1.05);
    opacity: 1;
}
/*Individual Portfolio Item Styles*/

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600 px;
    margin-left: auto;
    margin-right: auto;
}

.rank {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr))
}

.rank__item {
    background: #111;
    overflow: hidden;
    width: 175px;
    height: 175px;
}

.rank__img {
    opacity: 1.0;
    transition: 
        transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}

.rank__item:focus {
    position: relative;
    z-index: 2;
}

/*
.portfolio__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  */

.rank__img:hover,
.rank__item:focus .rank__img {
    transform: scale(1.05);
    opacity: 0.25;
}

/*Individual Portfolio Item Styles*/

.rank-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.rank-item-individual p {
    max-width: 600 px;
    margin-left: auto;
    margin-right: auto;
}

.crossword {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr))
}

/*.crossword__item {
    background: #111;
    overflow: hidden;
    width: 425px;
    height: 425px;
}

.crossword__img {
    opacity: 1.0;
    transition: 
        transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}*/

.crossword__item:hover .crossword__text{
    display: none;
    opacity: 0;
    transition: opacity 0.5s;

}


.crossword__img {
    opacity: 0.25;
    width: 100%;
    height: 100%;
    transition: 
        transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}

.crossword__item:focus {
    position: relative;
    z-index: 2;
}

/*
.portfolio__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  */

.crossword__img:hover,
.crossword__item:focus .crossword__img {
    transform: scale(1.05);
    opacity: 0.25;
}

/*Individual Portfolio Item Styles*/

.crossword-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.crossword-item-individual p {
    max-width: 600 px;
    margin-left: auto;
    margin-right: auto;
}



